<section class="benefits">
  <div class="benefits__crystal">
    <div class="benefits__crystal-wrapper">
      <img src="images/bigCrystal.svg" alt="crystal" />
      
      <ul class="benefits__list">
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="images/iconMessage.svg" alt="message" />
          </div>
          <p class="benefits__text">Отправлять сообщения</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="images/iconHeart.svg" alt="heart" />
          </div>
          <p class="benefits__text">Пользоваться другими премиум функциями</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="images/iconGuest.svg" alt="eye" />
          </div>
          <p class="benefits__text">Просматривать скрытые фото</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="images/iconSettings.svg" alt="settings" />
          </div>
          <p class="benefits__text">Просматривать скрытые фото</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="images/iconMessage.svg" alt="message" />
          </div>
          <p class="benefits__text">Просматривать скрытые фото</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__icon">
            <img src="images/iconGift.svg" alt="gift" />
          </div>
          <p class="benefits__text">Оплачивать подарки</p>
        </li>
      </ul>
    </div>
  </div>
</section>
