<form class="form-offer" action="#">
  <div class="swiper form">
    <div class="swiper-wrapper form-offer__buttons">
      <button class="swiper-slide form-offer__button">
        <div class="form-offer__button-price">
          <span>50</span>
          <img src="images/iconCR.png" alt="CR" />
        </div>
        <div class="form-offer__button-block">Buy now</div>
      </button>
      <button class="swiper-slide form-offer__button">
        <div class="form-offer__button-price">
          <span>150</span>
          <img src="images/iconCR.png" alt="CR" />
        </div>
        <div class="form-offer__button-block">Buy now</div>
      </button>
      <button class="swiper-slide form-offer__button">
        <div class="form-offer__button-price">
          <span>300</span>
          <img src="images/iconCR.png" alt="CR" />
        </div>
        <div class="form-offer__button-block">Buy now</div>
      </button>
      <button class="swiper-slide form-offer__button">
        <div class="form-offer__button-price">
          <span>500</span>
          <img src="images/iconCR.png" alt="CR" />
        </div>
        <div class="form-offer__button-block">Buy now</div>
      </button>
      <button class="swiper-slide form-offer__button">
        <div class="form-offer__button-price">
          <span>1000</span>
          <img src="images/iconCR.png" alt="CR" />
        </div>
        <div class="form-offer__button-block">Buy now</div>
      </button>
      <button class="swiper-slide form-offer__button">
        <div class="form-offer__button-price">
          <span>1000</span>
          <img src="images/iconCR.png" alt="CR" />
        </div>
        <div class="form-offer__button-block">Buy now</div>
      </button>
    </div>
  </div>

  <button class="form-offer__mobile-button">Try now</button>

  <div class="form-offer__checkbox-wrapper">
    <input class="form-offer__checkbox" id="checkbox" type="checkbox" />
    <label class="form-offer__checkbox-label" for="checkbox"
      >By clicking Checkbox you agree and accept our
      <a href="#!">Privacy Policy</a>, and <a href="#!">Terms of use</a></label
    >
  </div>
</form>
