<aside class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__profile">
      <div class="sidebar__profile-image">
        <img src="images/profileImage.png" alt="profile image" />
      </div>
      <div class="sidebar__profile-info">
        <span class="sidebar__profile-name">Test2412</span>
        <button class="sidebar__profile-premium">GET PREMIUM</button>
      </div>
    </div>

    <ul class="sidebar__links">
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconProfile.svg" alt="profile" />
          <span>Profile</span>
        </a>
      </li>
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconPhoto.svg" alt="photos" />
          <span>My photos</span>
        </a>
      </li>
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconMessage.svg" alt="messages" />
          <span>Messages</span>
        </a>
      </li>
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconHeart.svg" alt="heart" />
          <span>Favorites</span>
        </a>
      </li>
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconGuest.svg" alt="guest" />
          <span>Guests</span>
        </a>
      </li>
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconSettings.svg" alt="settings" />
          <span>Settings</span>
        </a>
      </li>
      <li class="sidebar__link">
        <a href="#!">
          <img src="images/iconLogOut.svg" alt="log out" />
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
